<div class="banner">
  <div class="container">
    <div class="container-introduction">
      <h1>Fernanda Gabriela Braga</h1>
      <p>Frontend and Backend Developer</p>
    </div>
    <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
  </div>
</div>

<div class="banner-card" style="background-color:black">
  <div class="banner-text">
    <h1>Hi, nice to meet you!</h1>
    <p class="text-container">I'm a Front-end and Back-end Developer with a passion for both personal growth and for software development,
    I attended a full-stack web development course at Le Wagon to learn new languages and build up new skills.
    </p>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-title"> Backend Developer</div>
      <div class="card-text">
          <p>Ruby</p>
          <p>Ruby on Rails</p>
          <p>SQL</>
      </div>
    </div>
    <div class="card">
      <div class="card-title"> Frontend Developer </div>
        <div class="card-text">
            <p> HTML <p>
            <p> CSS </p>
            <p> React </p>
            <p> Bootstrap </p>
            <p> Figma </p>
        </div>
    </div>
    <div class="card">
      <div class="card-title"> Dev Tools</div>
      <div class="card-text">
          <p> Github </p>
          <p> Terminal </p>
      </div>
    </div>
  </div>
</div>


<div class="container-projects">
  <h1> My Projects </h1>
  <div class="cards-container">
    <div class="card-category">
      <p> What the Help! </p>
       <input class="img-wth" type="image" name="imgbtn" src="assets/logo_2.png"  alt="what the help logo">
    </div>
    <div class="card-category">
      <p> What the Help! </p>
       <input class="img-wth" type="image" name="imgbtn" src="assets/logo_2.png"  alt="what the help logo">
    </div>
    <div class="card-category">
      <p> What the Help! </p>
       <input class="img-wth" type="image" name="imgbtn" src="assets/logo_2.png"  alt="what the help logo">
    </div>
  </div>
</div>
