<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <section class="welcome">
      <h1>Fernanda Gabriela Braga</h1>
      <p>Frontend and Backend Developer</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="about-me">
        <div class="about-me-text">
          <p>
            Hello, nice to meet you! I'm Fernanda Gabriela Braga, a Web Developer
            based in Saskatoon/Saskatchewan. From a Materials Engineering and Math/Chemistry
            Teacher a whole new world of lines of codes.
          </p>
        </div>
      </section>
    </div>
    <div class="col">
      <section class="about-me">
        <div class="about-me-img">
          <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="feature-skills">
        <h2> DevTools: </h2>
        <ul class="skills">
          <li>
            <i class="fa-brands fa-html5"></i>
          </li>
          <li>
            <i class="fa-brands fa-css3-alt"></i>
          </li>
          <li>
            <i class="fa-brands fa-js"></i>
          </li>
          <li>
            <i class="devicon-sqlite-plain"></i>
          </li>
          <li>
            <i class="devicon-ruby-plain"></i>
          </li>
          <li>
            <i class="devicon-react-original"></i>
          </li>
          <li>
            <i class="devicon-bootstrap-plain"></i>
          </li>
          <li>
            <i class="devicon-figma-plain"></i>
          </li>
          <li>
            <i class="devicon-git-plain"></i>
          </li>
          <li>
            <i class="fa-solid fa-terminal"></i>
          </li>
          <li>
            <i class="fa-light fa-mobile-retro"></i>
          </li>





      </div>
    </div>
  </div>
</div>
