<div class="banner">
  <div class="container">
    <h1>Fernanda Gabriela Braga</h1>
    <p>Frontend Developer and Backend Developer</p>
    <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
  </div>
</div>


<div class="banner" style="background-color:black">
  <div class="container">
    <h1>Hello! My name is Fernanda Braga!</h1>
    <p>I'm a Front-end and Back-end Developer with a passion for both personal growth and for software development,
    I attended a full-stack web development course at Le Wagon to learn new languages and build up new skills.</p>
  </div>
  <div class="card-container">
  <div class="card">
    <div class="card-title"> Backend Developer</div>
    <div class="card-text">
        <p>Ruby</p>
        <p>Ruby on Rails</p>
        <p>SQL</>
    </div>
  </div>
  <div class="card">
    <div class="card-title"> Frontend Developer </div>
      <div class="card-text">
          <p> HTML <p>
          <p> CSS </p>
          <p> React </p>
          <p> Bootstrap </p>
          <p> Figma </p>
      </div>
  </div>
  <div class="card">
    <div class="card-title"> Dev Tools</div>
    <div class="card-text">
        <p> Github </p>
        <p> Terminal </p>
    </div>
  </div>
</div>

</div>
