<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <section class="welcome">
      <h1 class="welcome-name">Fernanda Gabriela Braga</h1>
      <p class="welcome-text">Frontend and Backend Developer</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="about-me">
        <div class="about-me-text">
          <h2 id="features-title"> About me </h2>
          <p id="features-text">
            Hello, nice to meet you!
          </p>
          <p id="features-text">I'm Fernanda Gabriela Braga, a Web Developer
            based in Saskatchewan. From a Materials Engineering and Math/Chemistry
            Teacher to a ton of lines of code.
          </p>
          <p id="features-text">
            I recently graduated from a coding Bootcamp - Le Wagon - where I discovered a passion
            for creating cool things from scratch.
          </p>
          <p id="features-text">
            I'm excited to keep improving my skills and bringing ideas to life in the browser with the right company.
          </p>
        </div>
      </section>
    </div>
    <div class="col">
      <section class="about-me">
        <div class="about-me-img">
          <%= image_tag ("avatar.jpeg"), class: "avatar-large", alt: "avatar-large" %>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="feature-skills">
        <h2 id="features-title"> DevTools </h2>
        <ul class="skills">
          <li>
            <i class="skills-icon devicon-html5-plain"></i>
            <p id="icon-text"> HTML5 </p>
          </li>
          <li>
            <i class="skills-icon fa-brands fa-css3-alt"></i>
            <p id="icon-text"> CSS </p>
          </li>
          <li>
            <i class="skills-icon fa-brands fa-js"></i>
            <p id="icon-text"> JAVASCRIPT </p>
          </li>
          <li>
            <i class="skills-icon devicon-sqlite-plain"></i>
            <p id="icon-text"> SQLITE </p>
          </li>
          <li>
            <i class="skills-icon devicon-ruby-plain"></i>
            <p id="icon-text"> RUBY </p>
          </li>
          <li>
            <i class="skills-icon devicon-rails-plain"></i>
            <p id="icon-text"> RAILS </p>
          </li>
          <li>
            <i class="skills-icon devicon-react-original"></i>
            <p id="icon-text"> REACT </p>
          </li>
          <li>
            <i class="skills-icon devicon-bootstrap-plain"></i>
            <p id="icon-text"> BOOTSTRAP </p>
          </li>
          <li>
            <i class="skills-icon devicon-figma-plain"></i>
            <p id="icon-text"> FIGMA </p>
          </li>
          <li>
            <i class="skills-icon devicon-git-plain"></i>
            <p id="icon-text"> GIT </p>
          </li>
          <li>
            <i class="skills-icon fa-solid fa-terminal"></i>
            <p id="icon-text"> TERMINAL </p>
          </li>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col projects">
      <h2 id="features-title-project">Projects</h2>
      <p class="features-text-projects"> The natural of a portfolio is that: It's always a work in progress </p>
    </div>
    <div class="col">
      <div class="group-cards">

        <div class="card mx-auto">
          <h1 class="card-title">What The Help!</h1>
          <i class="projects-icon fa-solid fa-hand-holding-heart"></i>
          <div class="card-body">
            <p class="card-info">A plataform that connect people willing to assist others and ensure they are guided on every step of the way.</p>
            <div class="btn-group">
              <button class="card-btn">View Live</button>
              <button class="card-btn card-git">GitHub</button>
            </div>
          </div>
        </div>

        <div class="card mx-auto">
          <h1 class="card-title">Weather App</h1>
          <i class="projects-icon fa-solid fa-umbrella"></i>
          <div class="card-body">
            <p class="card-info">A simple, yet fully functional weather app.</p>
            <div class="btn-group">
              <button class="card-btn">View Live</button>
              <button class="card-btn card-git">GitHub</button>
            </div>
          </div>
        </div>

        <div class="card mx-auto">
          <h1 class="card-title">My Dictionary</h1>
          <i class="projects-icon fa-solid fa-book"></i>
          <div class="card-body">
            <p class="card-info">Coming soon... </p>
            <div class="btn-group">
              <button class="card-btn">View Live</button>
              <button class="card-btn card-git">GitHub</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
