<div class="banner">
  <div class="container">
    <h1>Fernanda Gabriela Braga</h1>
    <p>Frontend Developer and Backend Developer</p>
    <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
  </div>
</div>
