<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <section class="welcome">
      <h1>Fernanda Gabriela Braga</h1>
      <p>Frontend and Backend Developer</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="about-me">
        <div class="about-me-text">
          <p>
            Hello, nice to meet you! I'm Fernanda Gabriela Braga, a Web Developer
            based in Saskatoon/Saskatchewan. From a Materials Engineering and Math/Chemistry
            Teacher a whole new world of lines of codes.
          </p>
        </div>
      </section>
    </div>
    <div class="col">
      <section class="about-me">
        <div class="about-me-img">
          <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="feature-skills">
        <h2 id="features-title"> DevTools </h2>
        <ul class="skills">
          <li>
            <i class="devicon-html5-plain"></i>
            <p id="icon-text"> HTML5 </p>
          </li>
          <li>
            <i class="fa-brands fa-css3-alt"></i>
            <p id="icon-text"> CSS </p>
          </li>
          <li>
            <i class="fa-brands fa-js"></i>
            <p id="icon-text"> JAVASCRIPT </p>
          </li>
          <li>
            <i class="devicon-sqlite-plain"></i>
            <p id="icon-text"> SQLITE </p>
          </li>
          <li>
            <i class="devicon-ruby-plain"></i>
            <p id="icon-text"> RUBY </p>
          </li>
          <li>
            <i class="devicon-rails-plain"></i>
            <p id="icon-text"> RAILS </p>
          </li>
          <li>
            <i class="devicon-react-original"></i>
            <p id="icon-text"> REACT </p>
          </li>
          <li>
            <i class="devicon-bootstrap-plain"></i>
            <p id="icon-text"> BOOTSTRAP </p>
          </li>
          <li>
            <i class="devicon-figma-plain"></i>
            <p id="icon-text"> FIGMA </p>
          </li>
          <li>
            <i class="devicon-git-plain"></i>
            <p id="icon-text"> GIT </p>
          </li>
          <li>
            <i class="fa-solid fa-terminal"></i>
            <p id="icon-text"> TERMINAL </p>
          </li>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm cards-container">
      <h2 id="features-title">Projects</h2>
      <p> The natural of a portfolio is that: It's always a work in progress </p>

      <div class="card">
      <h1 class="card-title">What The Help!</h1>
      <img src="assets/logo_2.png" class="card-img" alt="">
      <div class="card-body">
        <p class="card-info">A plataform that connect people willing to assist others and ensure they are guided on every step of the way.</p>
        <div class="btn-group">
          <button class="card-btn">View Live</button>
          <button class="card-btn card-git">GitHub</button>
        </div>
      </div>
    </div>
  </div>
</div>
