<div class="banner">
  <div class="container">
    <h1>Fernanda Gabriela Braga</h1>
    <p>Frontend Developer and Backend Developer</p>
    <%= image_tag ("avatar.png"), class: "avatar-large", alt: "avatar-large" %>
  </div>
</div>

<div class="">
  <div class="card-intro" style="background-color: purple">
    <h1 class="text">Hello! My name is Fernanda Braga </h1>
    <p>I'm a Front-end and Back-end Developer with a passion for both personal growth and for software development,
    I attended a full-stack web development course at Le Wagon to learn new languages and build up new skills.</p>
  </div>
  <div class="container">
  <div class="card-group">
    <div class="">
      <div class="card">
        <div class="card-body card-title">
            <ul id="card-content">
              <li id="card-title"> Backend Developer
                <li >Ruby</li>
                <li>Ruby on Rails</li>
                <li>SQL</li>
              </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frontend Developer</h5>
            <ul id="card-content">
              <li> HTML </li>
              <li> CSS </li>
              <li> React </li>
              <li> Bootstrap </li>
              <li> Figma </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dev Tools</h5>
            <ul id="card-content">
              <li> Github </li>
              <li> Terminal </li>
            </ul>
        </div>
      </div>
        </div>
    </div>
</div>

<div class="container">
  <h1 class="text"> My Projects </h1>
  <div class="cards">
    <div class="card-category card-project" style="backgound-color: blue">
      <p>A nice project!</p>
      <button href="https://what-the-help.herokuapp.com/">What The HELP!</button>
    </div>

    <div class="card-category" style="">
      Weather App
    </div>

    <div class="card-category" style="">
      Coming soon...
    </div>
  </div>
</div>
