.footer {
  background: black;
  border-style: 3px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 30px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.25;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  color: white;
  opacity: 0.25;
}
