.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60%;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  height: 280px;
  width: 250px;
  position: relative;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: all .3s ease-in;
  border-radius: 4px;

}
.card:hover {
  background: black;
  color: white;
  box-shadow: 0px 0px 11px 5px black;
}

.card .card-text{
  line-height: 20px;
  color: black;
}

.card > *{
  padding: 10px;
}
.card .card-title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  line-height: 35px;
}

.card-text {
  text-align: center;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.banner {
  text-align: center;
}

.text {
  text-align: center;
  line-height: 1.8;
  font-size: 30px;
}

.box {
  text-align: center;
  line-height: 2;
  margin: .25rem;
  padding: .25rem;;
}
.card-text p {
  color: black;
}
