@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.container {
  font-family:  'Rubik', sans-serif;
  background-size: cover;
  flex-grow: 1;
}

html,
body {
  background-color: black !important;;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.welcome {
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-size: cover;
  align-items: center;
  background-color: purple;
  text-align: center;
  display:flex;
}

.about-me {
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-size: cover;
  background-color: purple;
  text-align: center;
  display:flex;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.about-me-text {

}

.feature-skills {
  background-color: antiquewhite;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  padding: 20px 20px;
}

i {
  font-size: 45px;
}
