.navbar-lewagon {

  background: black;
}

.navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-group-navbar a{
  text-decoration: none;
  color: inherit;
  padding-left:30px;
  font-weight: bolder;
}

.btn-navbar {
  color:#912f56 !important;
  font-weight: 700px;
  font-size: 21px;

}

.navbar-nav {
  margin-left: auto;
}


