<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <%=link_to "https://github.com/fernandagabrielabraga/what_the_help", target: :_blank do %>
      <button class="card-btn card-git">GitHub</button>
    <%end%>
  </div>
</div>
