<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <ul class="btn-group-navbar navbar-nav">
      <li class="nav-item">
        <%=link_to "https://github.com/fernandagabrielabraga", target: :_blank do %>
          <span class="btn-navbar btn-lg btn-custom">GitHub</span>
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to "Resume", download_pdf_path(format: :pdf), target: :_blank, :class => "themed_text", class: "btn-navbar btn-lg btn-custom" %>
      </li>
      <li class="nav-item">
        <%=link_to "https://www.linkedin.com/in/fernandagabrielabraga/", target: :_blank do %>
          <span class="btn-navbar btn-lg btn-custom">Linkedin</span>
        <%end%>
      </li>
    </div>
  </div>
</div>
